@import url('./utilities.css');

#plantillasContainer{
    width: 80%;
}

._imgContainer{
    background-color: #f3f3f3c5;
    max-height: 255px !important;
}

._border-black{
    --bs-border-opacity: 1;
    border-color: #2F353A !important;
    background-color: #DDE1EC;
}

.form-check-input:checked {
    background-color: #24BFD6;
    border-color: #24BFD6;
}

._minHeight{
    background-color: #FFF;
    min-height: calc(100vh - 167px)
}